<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I'm a Ph.D. student of linguistics at <a href="http://linguistics.uconn.edu/">UConn</a>. Previously, I've studied <a href="http://linguistik.univie.ac.at/">linguistics</a> and <a href="http://www.informatik.tuwien.ac.at/english">computer science</a> in Vienna, Austria.</p>

<p>Broadly speaking, I work on syntax, morphology, and semantics, and I'm especially interested in Turkic languages and fieldwork on less-familiar languages.</p>

<p>Narrowly speaking, my work includes the following topics:</p>
<ul>
<li>German impersonals that look like weird passives</li>
<li>the (non)-correlation of genitive case and possessive agreement in Turkic languages</li>
<li>before and after clauses and their semantic properties</li>
<li>the Turkish yes/no-question particle</li>
<li>tense and mood in conditionals</li>
</ul>
<p><a href="/downloads/laszakovits-cv.pdf" >Download my CV</a></p>

<p>Please don't hesitate to reach out :)</p>
</div><!--//summary-->
</section><!--//section-->
