<section class="section summary-section">
  <h2 class="section-title">
    <i class="fa fa-user"></i>
    What I do
  </h2>
  <div class="summary">
    <p>
      I'm a Ph.D. student of linguistics at <a href="http://linguistics.uconn.edu/">UConn</a>. <br />
      Previously, I've studied <a href="http://linguistik.univie.ac.at/">linguistics</a> and <a href="http://www.informatik.tuwien.ac.at/english">computer science</a> in Vienna, Austria.
    </p>
    <p>
      I work on theoretical and mathematical syntax,
      and I'm especially interested in Turkic languages and fieldwork on less-familiar languages.
      Please see below for a list of topics I've worked on.
    </p>
    <p>
      <i class="fa fa-file-pdf-o"></i>
      <a href="/downloads/laszakovits-cv.pdf">Download my full CV</a> &nbsp; (May 2017)
    </p>
</div><!--//summary-->
</section><!--//section-->
