<section class="section summary-section">
  <h2 class="section-title">
    <i class="fa fa-comments-o"></i>
    Contact
  </h2>
  <div class="summary">
    <p>The best way to reach me is by email. <br />
      I don't check my Facebook regularly, so please don't message me there.
    </p>
    <p>My preferred pronouns are she/her/hers.</p>
    <p>You can write to me in English or German or French.
      I'll be able to decipher Turkish and BCS as well, but I'll struggle to reply.
    </p>
  </div>
</section>
