 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Ph.D. in Linguistics</h4>
    <h5 class="meta">University of Vienna</h5>
    <div class="time">since 08/2014</div>
</div>
<div class="item">
    <h4 class="degree">Diploma (approx. MA) in General Linguistics</h4>
    <h5 class="meta">University of Vienna (Austria)</h5>
    <div class="time">2007 - 2013</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc. in Software and Information Engineering</h4>
    <h5 class="meta">TU Wien (Austria)</h5>
    <div class="time">2008 - 2013</div>
</div><!--//item-->
</div><!--//education-container-->
