<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Research employment</h2>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Research assistant</h3>
        <div class="time">Fall 2017</div>
        <div class="company">UConn</div>
      </div><!--//upper-row-->
    </div><!--//meta-->
    <div class="details">
      <div>
        <span class="employment-subheading">Project:</span>
        <a href="http://bibibi.uconn.edu/">Bimodal Bilingual Code-blending: Language Synthesis</a>
      </div>
      <div>
        <span class="employment-subheading">Supervisor:</span>
        <a href="http://homepages.uconn.edu/~dcl02005/">Diane Lillo-Martin</a>
      </div>
      <div>
        <span class="employment-subheading">Responsibilities:</span>
        <ul>
          <li>Identifying predictions of the <a href="http://dx.doi.org/10.1075/lab.6.6.01lil" target="_blank">Language Synthesis model</a>.</li>
          <li>Developing audio-visual stimuli for elicitation and judgment tasks with adult codas.</li>
      </div>
    </div><!--//details-->
  </div><!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Researcher</h3>
        <div class="time">Summer 2017</div>
        <div class="company">UConn</div>
      </div><!--//upper-row-->
    </div><!--//meta-->
    <div class="details">
      <div>
        <span class="employment-subheading">Project:</span>
        Fieldwork on Kyrgyz in Bishkek, Kyrgyzstan
      </div>
      <div>
        <span class="employment-subheading">Supervisor:</span>
        <a href="http://http://bobaljik.uconn.edu/">Jonathan Bobaljik</a>
      </div>
    </div><!--//details-->
  </div><!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Research assistant</h3>
        <div class="time">Spring 2016</div>
        <div class="company">UConn</div>
      </div><!--//upper-row-->
    </div><!--//meta-->
    <div class="details">
      <div>
        <span class="employment-subheading">Project:</span>
        Parameter setting in language acquisition: An IPL training study.
      </div>
      <div>
        <span class="employment-subheading">Supervisors:</span>
        <a href="http://psych.uconn.edu/faculty/naigles.php">Letitia Naigles</a>,
        <a href="http://web.uconn.edu/snyder/">William Snyder</a>.
      </div>
      <div>
        <span class="employment-subheading">Responsibilities:</span>
        recruiting participants; conducting experiments with 1;6- to 3;0-year-olds.
      </div>
    </div><!--//details-->
  </div><!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Research assistant</h3>
        <div class="time"> 2015&ndash;2016</div>
        <div class="company">UConn</div>
      </div><!--//upper-row-->
    </div><!--//meta-->
    <div class="details">
      <div>Research assistant for <a href="http://wurmbrand.uconn.edu/">Susi Wurmbrand</a></div>
    </div><!--//details-->
  </div><!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Research assistant</h3>
        <div class="time">Summer 2015</div>
        <div class="company">UConn</div>
      </div><!--//upper-row-->
    </div><!--//meta-->
    <div class="details">
      <div>
        <span class="employment-subheading">Project:</span>
        <a href="http://bibibi.uconn.edu/">Binational Bimodal Bilingual</a> (BiBiBi)
      </div>
      <div>
        <span class="employment-subheading">Supervisor:</span>
        <a href="http://homepages.uconn.edu/~dcl02005/">Diane Lillo-Martin</a> (UConn)
      </div>
      <div>
        <span class="employment-subheading">Responsibilities:</span>
        applying the index of productive syntax (IPSyn) to glossed video recordings of 1;7- to 3;0-year-old Deaf children
      </div>
    </div><!--//details-->
  </div><!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Research assistant</h3>
        <div class="time">2011&ndash;2014</div>
        <div class="company">University of Vienna</div>
      </div><!--//upper-row-->
    </div><!--//meta-->
    <div class="details">
      <div>
        <span class="employment-subheading">Project:</span>
        <a href="http://www.syhd.info/">Syntax hessischer Dialekte</a> (‘Syntax of Hessian Dialects’, SyHD)
      </div>
      <div>
        <span class="employment-subheading">Supervisor:</span>
        <a href="mailto:alexandra.lenz@univie.ac.at">Alexandra Lenz</a>
      </div>
      <div>
        <span class="employment-subheading">Responsibilities:</span>
        development of the database and the project-internal front-end
      </div>
    </div><!--//details-->
  </div><!--//item-->
</section><!--//section-->
