<div class="profile-container">
  <img
    class="profile"
    src="{{site.baseurl}}/assets/images/{% if site.pic %}{{ site.pic }}{% else %}profile.png{% endif %}"
    alt="profile picture"
  />
  <h1 class="name">
    {% if site.name %}
      {{site.name}}
    {% else %}
      Alan Doe
    {% endif %}
  </h1>
  <h3 class="tagline">
    [saˈb̥iːnə la'sakovit͜ʃ] 
    {% if site.tagline %}
      {{site.tagline}}
    {% else %}
      Full Stack Developer
    {% endif %}
  </h3>
</div>
<!--//profile-container-->
