<head>
    <title>{{site.title}}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sabine Laszakovits">
    <meta name="description" content="Sabine Laszakovits is a PhD student of Linguistics at UConn">
    <meta name="keywords" content="Austria, coding, computational, computer science, Connecticut, curriculum vitae, CV, Informatik, Lasakovic, Lasakovits, Laszakowitc, Laszakowits, Laszakowitz, Lassakovitc, Lassakovits, Lassakovitz, Laszakovitc, Laszakovits, Laszakovitz, Laszkovitc, Laszkovits, Laszkovitz, Lebenslauf, Linguistics, Linguistik, Österreich, programming, PhD, Sabine, Semantics, Semantik, Sprachwissenschaft, Syntax, Turkic, Turkish, Turksprachen, UConn, University of Connecticut, Vienna, Wien">

    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/fontello.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/assets/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/icons/manifest.json">
    <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/icons/favicon.ico">
    <meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
    <meta name="theme-color" content="#3c5560">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/shared.css">
    <link id="theme-style" rel="stylesheet"
      href="{{site.baseurl}}/assets/css/{% if site.style %}{{site.style}}{% else %}styles-1{% endif %}-colors.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/sabine.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
