<div class="news-container container-block">
  <h2 class="container-block-title">
    <i class="fa fa-feed"></i>
    Updates
  </h2>

  <div class="item">
    <div class="when">Fall 2017</div>
    <div class="details">
      I work on the <a href="http://bibibi.uconn.edu/">Binational Bimodal Bilingual</a> project.
    </div>
  </div>

  <div class="item">
    <div class="when">June/July 2017</div>
    <div class="details">
      Fieldwork in Bishkek, Kyrgyzstan.
      <ul>
        <li>
          With <a href="{{site.kseniabogomolets}}" target="_blank">Ksenia Bogomolets</a>,
          Christos Christopoulos, and <a href="{{site.pashakoval}}" target="_blank">Pasha Koval</a>.
        </li>
        <li>
          Funded by a UConn <a href="https://research.uconn.edu/funding/research-excellence-program/" target="_blank">Research Excellence Program</a> grant
          issued to <a href="{{site.jdb}}" target="_blank">Jonathan Bobaljik</a>.
        </li>
    </div>
  </div>

  <div class="item">
    <div class="when">May 2017</div>
    <div class="details">
      I've passed my first Generals examination with a paper on German impersonal passives.
    </div>
  </div>

  <div class="item">
    <div class="when">Spring 2017</div>
    <div class="details">
      I teach 3 weekly discussion sections for LING 1010.
    </div>
  </div>

  </div><!--//education-container-->
