<div class="news-container container-block">
  <h2 class="container-block-title">
    <i class="fa fa-feed"></i>
    Updates
  </h2>

  <div class="item">
    <div class="when">October 19&ndash;21, 2018</div>
    <div class="details">
      I'll present a talk
        &quot;On possessed relative clauses in Kyrgyz&quot;
        at <a href="http://wafl14.mit.edu/" target="_blank">WAFL 14</a>.
    </div>
  </div>

  <div class="item">
    <div class="when">August 11&ndash;12, 2018</div>
    <div class="details">
      I'll present a talk
        &quot;Case Theory in Minimalist Grammars&quot;
        at <a href="http://fg.phil.hhu.de/2018/index.html" target="_blank">Formal Grammar 23</a>.
    </div>
  </div>

  <div class="item">
    <div class="when">May 2018</div>
    <div class="details">
      I've passed my Qualifying Exams.
    </div>
  </div>

  <div class="item">
    <div class="when">March 2&ndash;4, 2018</div>
    <div class="details">
      I've presented a talk
        &quot;On the Difference Between Turkic Possessors and Subjects&quot;
        at <a href="http://www.iub.edu/~concall/" target="_blank">ConCALL-3</a>.
      My abstract has been awarded a $300 student travel stipend.
    </div>
  </div>

  <div class="item">
    <div class="when">Fall 2017 &ndash; Spring 2018</div>
    <div class="details">
      I'm part of the <a href="http://bibibi.uconn.edu/">Binational Bimodal Bilingual</a> project.
    </div>
  </div>

  <div class="item">
    <div class="when">Summer 2017</div>
    <div class="details">
      Fieldwork in Bishkek, Kyrgyzstan.
      <ul>
        <li>
          With <a href="{{site.kseniabogomolets}}" target="_blank">Ksenia Bogomolets</a>,
          Christos Christopoulos, and <a href="{{site.pashakoval}}" target="_blank">Pasha Koval</a>.
        </li>
        <li>
          Funded by a UConn <a href="https://research.uconn.edu/funding/research-excellence-program/" target="_blank">Research Excellence Program</a> grant
          issued to <a href="{{site.jdb}}" target="_blank">Jonathan Bobaljik</a>.
        </li>
    </div>
  </div>

  </div><!--//education-container-->
