<div class="news-container container-block">
  <h2 class="container-block-title">
    <i class="fa fa-feed"></i>
    Updates
  </h2>

  <div class="item">
    <div class="when">Fall 2017</div>
    <div class="details">
      I'm working for
        <a href="{{site.dianelm}}" target="_blank">Diane</a>'s
        <a href="http://bibibi.uconn.edu/">Binational Bimodal Bilingual</a> project.
      <ul>
        <li>Identifying predictions of the <a href="http://dx.doi.org/10.1075/lab.6.6.01lil" target="_blank">Language Synthesis model</a>. </li>
        <li>Creating stimuli for experiments with adult codas.</li>
      </ul>
    </div>
  </div>

  <div class="item">
    <div class="when">June/July 2017</div>
    <div class="details">
      Fieldwork in Bishkek, Kyrgyzstan,
      together with <a href="{{site.kseniabogomolets}}" target="_blank">Ksenia Bogomolets</a>,
        Christos Christopoulos, and <a href="{{site.pashakoval}}" target="_blank">Pasha Koval</a>.
      Funded by a UConn <a href="https://research.uconn.edu/funding/research-excellence-program/" target="_blank">Research Excellence Program</a> grant
      issued to <a href="{{site.jdb}}" target="_blank">Jonathan Bobaljik</a>.
    </div>
  </div>

  <div class="item">
    <div class="when">May 2017</div>
    <div class="details">
      I've passed my first Generals examination with a paper on German impersonal passives.
    </div>
  </div>

  <div class="item">
    <div class="when">Spring 2017</div>
    <div class="details">
      I'm teaching 3 discussion sections for LING 1010 (30 students each).
      <ul>
        <li>Reviewing and deepening the materials from the lecture.</li>
      </ul>
    </div>
  </div>

  </div><!--//education-container-->
