<section class="section summary-section">
  <h2 class="section-title">
    <i class="fa fa-user"></i>
    What I do
  </h2>
  <div class="summary">
    <p>
      I am a <b>theoretical</b> and <b>computational linguist</b>:
      I build formal models of human grammar based on empirical data from natural languages.
      In particular, I develop a <b>mathematical</b> characterization of <b>syntactic dependencies</b>
        such as subject-verb agreement, case assignment, and wh-movement.
      By linking linguistic theory with results from formal language theory, I derive properties of syntactic <b>parsing</b>,
        which can inform general cognition as well as computer linguistics. 
      I collect data by doing <b>fieldwork</b>:
        I've worked with speakers of Turkic languages (Karakalpak, Kyrgyz, Turkish) and also with speakers of Nepali and Yaadre.
    </p>
    <p>
      Currently I am a Ph.D. student of linguistics at <a href="http://linguistics.uconn.edu/">UConn</a>,
        and a visiting student at <a href="https://linguistics.stonybrook.edu/">Stony Brook University</a>.
      Previously, I've studied <a href="http://linguistik.univie.ac.at/">linguistics</a> and <a href="http://www.informatik.tuwien.ac.at/english">computer science</a> in Vienna, Austria.
    </p>
    <p>
      <i class="fa fa-file-pdf-o"></i>
      Download
        my <a href="downloads/laszakovits-cv.pdf">full CV</a>
        {% comment %}
        or
        my <a href="downloads/laszakovits-resume.pdf">1-page resum&eacute;</a> &nbsp;
        {% endcomment %}
        (last updated: {{site.cv_lastupdate}})
    </p>
  </div><!--//summary-->
</section><!--//section-->
