<section class="section summary-section">
  <h2 class="section-title">
    <i class="fa fa-user"></i>
    What I do
  </h2>
  <div class="summary">
    <p>
      I am a <b>theoretical</b> and <b>computational linguist</b>:
      I build formal models of human grammar based on empirical data from natural languages.
    </p>
    <p>
      In my research, I develop a <b>mathematical</b> characterization of <b>syntactic dependencies</b>
        such as case assignment and wh-movement.
      By linking linguistic theory with results from formal language theory, I derive properties of syntactic <b>parsing</b>,
        which can inform general cognition as well as computer linguistics.

      I collect data by doing <b>fieldwork</b>:
        I've worked with speakers of Turkic languages (Karakalpak, Kyrgyz, Turkish) and also with speakers of Nepali and Yaadre.
    </p>
    <p>
      I also build software for <b>natural language processing</b> for projects in <b>digital humanities</b>.
      Then, I work with <b>statistical models</b> to solve problems such as
        named entity recognition (NER) and
        text classification.
    </p>
    <p>
      I work as <b>data analyst</b> for the <a href="https://www.oeaw.ac.at/acdh/">Austrian Centre for Digital Humanities and Cultural Heritages (ACDH-CH)</a> at the Austrian Academy of Sciences
      while I wrap up my Ph.D. studies in linguistics at <a href="http://linguistics.uconn.edu/">UConn</a>.
      Previously, I've
        spent a semester as visiting student at <a href="https://linguistics.stonybrook.edu/">Stony Brook University</a>,
        and studied <a href="http://linguistik.univie.ac.at/">linguistics</a>
        and <a href="http://www.informatik.tuwien.ac.at/english">computer science</a> in Vienna, Austria.
    </p>
    <p>
      <i class="fa fa-file-pdf-o"></i>
      Download
        my full CV
        <a href="downloads/Laszakovits-cv-en.pdf">in English</a>
        or <a href="downloads/Laszakovits-cv-de.pdf">auf Deutsch</a>
        {% comment %}
        or
        my <a href="downloads/laszakovits-resume.pdf">1-page resum&eacute;</a> &nbsp;
        {% endcomment %}
        (last updated: {{site.cv_lastupdate}})
    </p>
  </div><!--//summary-->
</section><!--//section-->
