<section class="section projects-section">
  <h2 class="section-title">
    <i class="fa fa-university"></i>
    Projects
  </h2>
    <div class="intro">
      <p>
        Please email me for copies of non-linked attachments.
      </p>
    </div><!--//intro-->

    <div class="item">
        <span class="project-title">
          A formal account of Dependent Case Theory
        </span>
        <div class="project-abstract">
          I develop a formal system based on variations of Minimalist Grammars (Stabler 1997) that can capture the observed generalizations.
        </div>
        <ul>
          <li>in preparation</li>
        </ul>
    </div><!--//item-->

    <div class="item">
        <span class="project-title">
          German impersonal passives
        </span>
        <div class="project-abstract">
          German has passives that retain accusative case and must receive a generic interpretation.
          I analyze them as impersonal actives.
        </div>
        <ul>
          <li>Manuscript, May 2017.</li>
        </ul>
    </div><!--//item-->

    <div class="item">
      <span class="project-title">
        Turkish nominalized argument clauses as complex NPs.
      </span>
      <div class="project-abstract">
        I analyze clause-type triggered differential subject marking in Turkish by arguing that
        factive nominalized argument clauses are complex NPs with a silent head noun.
        This creates a nominal case-assignment domain, whereby the subject can receive genitive case.
      </div>
      <ul>
        <li>TU+2 at Indiana University, Bloomington, IN (poster, cancelled) &mdash; Nov 19-20, 2016.</li>
        <li>ConSOLE 25 in Leipzig, Germany (talk) &mdash; Jan 4-6, 2017.
          <ul>
            <li>Proceedings paper, under revision.</li>
          </ul>
        </li>
      </ul>
    </div><!--//item-->

    <div class="item">
      <span class="project-title">
        The real(is) distinction in <i>before</i>- and <i>after</i>-clauses.
      </span>
      <div class="project-coauthors">
        (with Marcin Dadan, Kadir G&ouml;kg&ouml;z, Jayeon Park, Yongsuk Yoo)
      </div>
      <div class="project-abstract">
        We compare <i>before</i>- and <i>after</i>-clauses in German, French, Japanese, Polish, Korean, and Turkish.
        We provide a uniform analysis for the different morphological strategies these languages use to mark <i>before</i> clauses.
        We argue that the intra-language differences between <i>before</i> and <i>after</i> are due to different selectional properties for mood,
        which stems from realis vs. irrealis presuppositions.
      </div>
      <ul>
        <li>GLOW 39 in G&ouml;ttingen, Germany (poster) &mdash; Apr 5-7, 2016.</li>
        <li>FASL 25 at Cornell University, NY (talk) &mdash; May 13-15, 2016.
          <ul>
            <li>Proceedings paper, to appear.</li>
          </ul>
        </li>
      </ul>
    </div><!--//item-->

    <div class="item">
      <span class="project-title">
        The Turkish question particle triggers movement: Evidence from conditionals.
      </span>
      <ul>
        <li>TU+1 at UMass Amherst (talk) &mdash; Nov 21-22, 2015.
          <ul>
            <li>
              <a href="downloads/laszakovits-2015-tu1.pdf" target="_blank">Proceedings paper</a>,
              to appear.
            </li>
          </ul>
        </li>
      </ul>
    </div><!--//item-->

    <div class="item">
        <span class="project-title">
          The German relative pronoun &quot;welch-&quot; is an agreeing complementizer.
        </span>
        <div class="project-coauthors">
           (with Dalina Kallulli)
        </div>
        <ul>
          <li>CGG 24 in Madrid, Spain (talk) &mdash; May 28–29, 2014.</li>
          <li>RALFe at Paris 8 (talk) &mdash; Oct 9-10, 2014.
            <ul>
              <li>Handout</li>
            </ul>
          </li>
        </ul>
    </div><!--//item-->

    <div class="item">
        <span class="project-title">
          Turkish accusative as topic marker.
        </span>
        <ul>
          <li>&Ouml;SKL 6 in Vienna, Austria (talk) &mdash; Nov 30-Dec 1, 2013.
            <ul>
              <li>
                <a href="https://www.univie.ac.at/linguistics/publications/wlg/78A2014/Laszakovits.pdf" target="_blank">Proceedings paper</a>,
                in: Wiener Linguistische Gazette 78A, 2014.</li>
            </ul>
          </li>
        </ul>
    </div><!--//item-->
</section><!--//section-->
