<section class="section projects-section">
  <h2 class="section-title">
    <i class="fa fa-university"></i>
    Projects
  </h2>
    <div class="intro">
      <p>
        Please email me for copies of non-linked attachments.
      </p>
    </div><!--//intro-->

    <div class="item">
        <span class="project-title">
          A formal account of Dependent Case Theory
        </span>
        <div class="project-abstract">
          I develop a formal system based on variations of Minimalist Grammars that can capture the observed generalizations.
        </div>
        <ul>
          <li>in preparation</li>
        </ul>
    </div><!--//item-->

    <div class="item">
        <span class="project-title">
          German impersonal passives
        </span>
        <div class="project-abstract">
          German has passives that retain accusative case and must receive a generic interpretation.
          I analyze them as impersonal actives.
        </div>
        <ul>
          <li>Manuscript, May 2017.</li>
        </ul>
    </div><!--//item-->

    <div class="item">
      <span class="project-title">
        Turkish differential subject marking
      </span>
      <div class="project-abstract">
        I analyze Turkish DSM based on clause type by analyzing nominalized argument clauses as complex NPs with a silent head noun.
      </div>
      <ul>
        <li>TU+2 at Indiana University, Bloomington, IN (poster, cancelled) &mdash; Nov 19-20, 2016.</li>
        <li>ConSOLE 25 in Leipzig, Germany (talk) &mdash; Jan 4-6, 2017.
          <ul>
            <li>Proceedings paper, under revision.</li>
          </ul>
        </li>
      </ul>
    </div><!--//item-->

    <div class="item">
        <span class="project-title">
          Before/after clauses crosslinguistically
        </span>
        <span class="project-coauthors">
           (with Marcin Dadan, Kadir G&ouml;kg&ouml;z, Jayeon Park, Yongsuk Yoo)
         </span>
        <ul>
          <li>GLOW 39 in G&ouml;ttingen, Germany (poster) &mdash; Apr 5-7, 2016.</li>
          <li>FASL 25 at Cornell University, NY (talk) &mdash; May 13-15, 2016.
            <ul>
              <li>Proceedings paper, to appear.</li>
            </ul>
          </li>
        </ul>
    </div><!--//item-->

    <div class="item">
      <span class="project-title">
        Turkish question particle
      </span>
      <ul>
        <li>TU+1 at UMass Amherst (talk) &mdash; Nov 21-22, 2015.
          <ul>
            <li>Proceedings paper, to appear.</li>
          </ul>
        </li>
      </ul>
    </div><!--//item-->

    <div class="item">
        <span class="project-title">
          The German relative pronoun &quot;welch-&quot; as C<sup>0</sup>
        </span>
        <span class="project-coauthors">
           (with Dalina Kallulli)
        </span>
        <ul>
          <li>CGG 24 in Madrid, Spain (talk) &mdash; May 28–29, 2014.</li>
          <li>RALFe at Paris 8 (talk) &mdash; Oct 9-10, 2014.
            <ul>
              <li>Handout</li>
            </ul>
          </li>
        </ul>
    </div><!--//item-->

    <div class="item">
        <span class="project-title">
          Turkish accusative as topic marker
        </span>
        <ul>
          <li>&Ouml;SKL 6 in Vienna, Austria (talk) &mdash; Nov 30-Dec 1, 2013.
            <ul>
              <li>
                <a href="https://www.univie.ac.at/linguistics/publications/wlg/78A2014/Laszakovits.pdf" target="_blank">
                  Proceedings paper, in: Wiener Linguistische Gazette 78A, 2014</a>.</li>
            </ul>
          </li>
        </ul>
    </div><!--//item-->
</section><!--//section-->
