<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Research Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research assistant</h3>
                            <div class="time">Spring 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">UConn</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><b>Project:</b> Parameter setting in language acquisition: An IPL training study.<br />
<b>PIs:</b> <a href="http://web.uconn.edu/snyder/">William Snyder</a>, Diane Lillo-Martin, <a href="http://psych.uconn.edu/faculty/naigles.php">Letitia Naigles</a>, Whit Tabor<br />
<b>Responsibilities:</b> recruiting participants; conducting experiments with 1;6- to 3;0-year-olds.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research assistant</h3>
                            <div class="time"> 2015–2016</div>
                        </div><!--//upper-row-->
                        <div class="company">UConn</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Research assistant for <a href="http://wurmbrand.uconn.edu/">Susi Wurmbrand</a></p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research assistant</h3>
                            <div class="time">Summer 2015</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                    <div class="details">
                        <p><b>Project:</b> <a href="http://bibibi.uconn.edu/">Bimodal Bilingual</a> (BiBiBi)<br />
<b>PIs:</b> Deborah Chen Pichler (Gallaudet University), <a href="http://homepages.uconn.edu/~dcl02005/">Diane Lillo-Martin</a> (UConn), and Ronice Müller de Quadros (Universidade Federal de Santa Catarina)<br />
<b>Responsibilities:</b> applying the index of productive syntax (IPSyn) to glossed video recordings of 1;7- to 3;0-year-old Deaf children</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research assistant</h3>
                            <div class="time">09/2011 – 06/2014</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                    <div class="details">
                        <p><b>Project:</b> <a href="http://www.syhd.info/">Syntax hessischer Dialekte</a> (‘Syntax of Hessian Dialects’, SyHD)<br />
<b>PIs:</b> Jürgen Fleischer (Goethe-University Frankfurt/Main), <a href="mailto:alexandra.lenz@univie.ac.at">Alexandra Lenz</a> (Univ. of Vienna), and Helmut Weiß (Philipps-Universität Marburg).<br />
<b>Responsibilities:</b> development of the database and the project-internal front-end</p>  
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
