<section class="section projects-section">
  <h2 class="section-title">
    <i class="fa fa-university"></i>
    Teaching
  </h2>
  <div class="summary">

  </div>
UConn:

TA for LING1010 'Language and Mind'
Spring 2017
IR: Harry van der Hulst
Responsibilities: reviewing and extending the lecture content in 3 weekly 'discussion sections' à 30 students

TA for LING1010 ‘Language and Mind’
Fall 2016
IR: Jon Sprouse
Responsibilities: reviewing and extending the lecture content in 3 weekly 'discussion sections' à 30 students

Apprentice TA for LING1010 ‘Language and Mind’
Spring 2015
IR: Harry van der Hulst
Responsibilities: class website, calculating grades, organizational support

Apprentice TA for LING1030 ‘Language Diversity’
Fall 2014
IR: Andrea Calabrese
Responsibilities: organizational support

University of Vienna, Austria:

Guest lecture 'Syntactic variation in West Central German: data acquisition and processing'
May 7th, 2014
Part of the lecture series "Lexis, syntax, and their interfaces",
Class co-taught with Ludwig Maximilian Breuer.

Vienna UT, Austria:

TA for 'Theoretical Computer Science and Logic'
Springs 2010, 2011
IR: Christian Fermüller
Responsibilities: teaching and grading 3 weekly exercise sections à 30 students

TA for 'Object-Oriented Programming'
Fall 2010
IR: Franz Puntigam
Responsibilities: supporting 13 groups à 3 students through 8 programming exercises in Java, grading the first 3 exercises.
</section>
