<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Updates</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">[2017-01-04 to 06]</h3>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                    <div class="details">
                        <p>Talk at <a href="http://conference.uni-leipzig.de/console25/">ConSOLE 25</a> at Leipzig, titled "A configurational account of Turkish DSM"</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">[2016-11-19]</h3>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                    <div class="details">
                        <p>Poster presentation at <a href="http://indiana.edu/~lalab/tuworkshop2.html">TU+ 2</a> at Indiana University, Bloomington, titled "On the complexity of Turkic nominalized clauses"</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">[2016-05-15]</h3>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                    <div class="details">
                        <p>Talk at <a href="http://conf.ling.cornell.edu/FASL25/">FASL 25</a> at <a href="http://linguistics.cornell.edu/">Cornell</a>, together with Marcin Dadan, <a href="http://uconn.academia.edu/KadirGokgoz">Kadir Gökgöz</a>, Jayeon Park, and Yongsuk Yoo, titled "The Real(is) Distinction in Before and After Clauses: A Crosslinguistic Study"</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">[2016-04-05]</h3>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                    <div class="details">
                        <p>Poster presentation at <a href="https://www.uni-goettingen.de/en/510338.html">GLOW 39</a> in Göttingen, together with Yongsuk Yoo, Jayeon Park, Marcin Dadan, and <a href="http://uconn.academia.edu/KadirGokgoz">Kadir Gökgöz</a>, titled "The Real(is) Distinction in Before and After Clauses: A Crosslinguistic Study"</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">[2015-11-21]</h3>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                    <div class="details">
                        <p>Talk at <a href="http://campuspress.yale.edu/tuworkshop1/">TU+ 1</a> at <a href="http://www.umass.edu/linguistics/">UMass Amherst</a>, titled "What conditionals teach us about the Turkish question particle mI"</p>  
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
