<div class="news-container container-block">
  <h2 class="container-block-title">
    <i class="fas fa-rss"></i>
    Updates
  </h2>

  <div class="item">
    <div class="when">December 2023</div>
    <div class="details">
      <a href="https://langsci-press.org/catalog/book/323" target="_blank">
        Volume 2
      </a>
      of <a href="{{site.zhengshen}}" target="_blank">Zheng Shen</a> and my's book 
      titled &quot;The size of things&quot; 
      in honor of <a href="{{site.susiwurmbrand}}" target="_blank">Susi Wurmbrand</a>'s 55th birthday 
      is published open access.
    </div>
  </div>

  <div class="item">
    <div class="when">September 22, 2023</div>
    <div class="details">
      I'm presenting 
      at the conference Turkologentag 2023 
      at the University of Vienna. 
      Check out 
      <a href="http://dx.doi.org/10.13140/RG.2.2.20270.89927" target="_blank">
        my slides
      </a>. 
    </div>
  </div>

  <div class="item">
    <div class="when">April 6, 2022</div>
    <div class="details">
      I'm giving 
      an invited talk 
      at the Department of Linguistics
      at the University of Salzburg
      titled &quot;Object shift in ASL and Libras&quot;. 
      Check out the <a href="https://zenodo.org/records/8427867/files/347-ShenLaszakovits-2023-3.pdf?download=1" target="_blank">paper</a> to learn more!
    </div>
  </div>

  <div class="item">
    <div class="when">November 4, 2021</div>
    <div class="details">
      <a href="{{site.zhengshen}}" target="_blank">Zheng Shen</a> and I 
      edited a book 
      titled &quot;The size of things&quot; 
      in honor of <a href="{{site.susiwurmbrand}}" target="_blank">Susi Wurmbrand</a>'s 55th birthday last July.
      <a href="https://langsci-press.org/catalog/book/323" target="_blank">
        Volume 1
      </a>
      is out and openly accessible!
    </div>
  </div>

  <div class="item">
    <div class="when">October 4, 2021</div>
    <div class="details">
      I joined the project
      <a
        href="https://www.oeaw.ac.at/acdh/projects/language-structure-and-use-in-j-n-nestroys-plays"
        target="_blank"
      >
        Language Structure and Use in J. N. Nestroy's Plays
      </a>: 
      explorative corpus analysis.
    </div>
  </div>

  <div class="item">
    <div class="when">July 1, 2021</div>
    <div class="details">
      Talk 
      with <a href="{{site.dalinakallulli}}" target="_blank">Dalina Kallulli</a> 
      at <a href="https://30cggovd.wixsite.com/30cggovd" target="_blank">CGG 30</a>: 
      &quot;What's within wh-words&quot;
    </div>
  </div>

  <div class="item">
    <div class="when">June 12, 2021</div>
    <div class="details">
      Talk 
      with <a href="{{site.dalinakallulli}}" target="_blank">Dalina Kallulli</a> 
      at <a href="http://olinco.upol.cz/" target="_blank">Olinco 5</a>: 
      &quot;Head Movement in Germanic Doubly-Filled Comp Constructions&quot;
    </div>
  </div>

  <div class="item">
    <div class="when">February 12, 2021</div>
    <div class="details">
      <a href="{{site.dalinakallulli}}" target="_blank">Dalina Kallulli</a>
      presented our
      <a href="https://h60b.wordpress.com/contributions/" target="_blank">
        squib 
        titled &quot;What's within wh-words&quot;
      </a>
      to Hamida Demirdache for her 60th birthday. 
      Congratulations, Hamida!
    </div>
  </div>

  <div class="item">
    <div class="when">October 2020</div>
    <div class="details">
      The
      <a
        href="https://repository.upenn.edu/pwpl/vol26/iss1/16/"
        target="_blank"
      >
        proceedings paper of our PLC 43 talk
      </a>
      came out!
    </div>
  </div>

  <div class="item">
    <div class="when">July 2020</div>
    <div class="details">
      I taught an intro to statistics at the ACDH's
      <a href="https://acdh-oeaw.gitlab.io/summerschool2020/" target="_blank">
        Digital Prosopography summer school 
      </a>.
    </div>
  </div>

  <div class="item">
    <div class="when">May 2020 &ndash; May 2021</div>
    <div class="details">
      I joined the project
      <a
        href="https://www.oeaw.ac.at/cmc/research/media-accountability-media-change-mamc/media-ethics-and-media-accountability/triple-a-algorithms-automation-accountability/risks-and-responsibility-in-the-automation-debate-mara/"
        target="_blank"
      >
        MARA
      </a>: 
      statistical models for text classification.
    </div>
  </div>

  <div class="item">
    <div class="when">December 6&ndash;7, 2019</div>
    <div class="details">
      Talk 
      with <a href="{{site.dalinakallulli}}" target="_blank">Dalina Kallulli</a> 
      at <a href="https://oelt2019.wixsite.com/oelt2019" target="_blank">ÖLT 45</a>: 
      &quot;Head movement in Germanic doubly-filled compl constructions&quot;
    </div>
  </div>

  <div class="item">
    <div class="when">November 2019 &ndash; May 2020</div>
    <div class="details">
      I joined the project
      <a href="https://www.oeaw.ac.at/acdh/projects/apis" target="_blank">APIS</a>: 
      statistical models for named entity recognition.
    </div>
  </div>

  <div class="item">
    <div class="when">November 2019</div>
    <div class="details">I defended my dissertation proposal.</div>
  </div>
</div>
