<div class="news-container container-block">
  <h2 class="container-block-title">
    <i class="fa fa-feed"></i>
    Updates
  </h2>

  <div class="item">
    <div class="when">November 4, 2021</div>
    <div class="details">
      <a href="{{site.zhengshen}}" target="_blank">Zheng Shen</a> and I edited 
      a book titled &quot;The size of things&quot; 
      in honor of <a href="{{site.susiwurmbrand}}" target="_blank">Susi Wurmbrand</a>'s 55th birthday last July. 
      <a href="https://langsci-press.org/catalog/book/323" target="_blank">Volume 1</a> is out and openly accessible!
    </div>
  </div>

  <div class="item">
    <div class="when">October 4, 2021</div>
    <div class="details">
      I joined the project
        <a href="https://www.oeaw.ac.at/acdh/projects/language-structure-and-use-in-j-n-nestroys-plays" target="_blank">
          Language Structure and Use in J. N. Nestroy's Plays</a>:
        explorative corpus analysis
    </div>
  </div>

  <div class="item">
    <div class="when">July 1, 2021</div>
    <div class="details">
      Talk
        with <a href="{{site.dalinakallulli}}" target="_blank">Dalina Kallulli</a>
        at <a href="https://30cggovd.wixsite.com/30cggovd" target="_blank">CGG 30</a>:
        &quot;What's within wh-words&quot;
    </div>
  </div>

  <div class="item">
    <div class="when">June 12, 2021</div>
    <div class="details">
      Talk
        with <a href="{{site.dalinakallulli}}" target="_blank">Dalina Kallulli</a>
        at <a href="http://olinco.upol.cz/" target="_blank">Olinco 5</a>:
        &quot;Head Movement in Germanic Doubly-Filled Comp Constructions&quot;
    </div>
  </div>

  <div class="item">
    <div class="when">February 12, 2021</div>
    <div class="details">
      <a href="{{site.dalinakallulli}}" target="_blank">Dalina Kallulli</a> 
        presented our 
        <a href="https://h60b.wordpress.com/contributions/" target="_blank">squib titled &quot;What's within wh-words&quot;</a>
        to Hamida Demirdache for her 60th birthday. 
        Congratulations, Hamida! 
    </div>
  </div>

  <div class="item">
    <div class="when">October 2020</div>
    <div class="details">
      The
      <a href="https://repository.upenn.edu/pwpl/vol26/iss1/16/" target="_blank">
        proceedings paper of our PLC 43 talk
      </a>
      came out!
    </div>
  </div>

  <div class="item">
    <div class="when">July 2020</div>
    <div class="details">
      I taught an intro to statistics at the ACDH's
      <a href="https://acdh-oeaw.gitlab.io/summerschool2020/" target="_blank">
        Digital Prosopography summer school
      </a>. 
    </div>
  </div>

  <div class="item">
    <div class="when">May 2020 &ndash; May 2021</div>
    <div class="details">
      I joined the project
        <a href="https://www.oeaw.ac.at/cmc/research/media-accountability-media-change-mamc/media-ethics-and-media-accountability/triple-a-algorithms-automation-accountability/risks-and-responsibility-in-the-automation-debate-mara/" target="_blank">MARA</a>:
        statistical models for text classification.
    </div>
  </div>

  <div class="item">
    <div class="when">December 6&ndash;7, 2019</div>
    <div class="details">
      Talk
        with <a href="{{site.dalinakallulli}}" target="_blank">Dalina Kallulli</a>
        at <a href="https://oelt2019.wixsite.com/oelt2019" target="_blank">ÖLT 45</a>:
        &quot;Head movement in Germanic doubly-filled compl constructions&quot;
    </div>
  </div>

  <div class="item">
    <div class="when">November 2019 &ndash; May 2020</div>
    <div class="details">
      I joined the project
        <a href="https://www.oeaw.ac.at/acdh/projects/apis" target="_blank">APIS</a>:
        statistical models for named entity recognition.
    </div>
  </div>

  <div class="item">
    <div class="when">November 2019</div>
    <div class="details">
      I defended my dissertation proposal.
    </div>
  </div>

<!--
  <div class="item">
    <div class="when">March 22&ndash;24, 2019</div>
    <div class="details">
      Talk
        at <a href="https://www.ling.upenn.edu/Events/PLC/plc43/" target="_blank">PLC 43</a>:
        &quot;Diagnosing movement via the absence of c-command relations&quot;.
    </div>
  </div>

  <div class="item">
    <div class="when">February 16&ndash;17, 2019</div>
    <div class="details">
      Talk
        at <a href="https://wp.nyu.edu/tuworkshop4/" target="_blank">TU+ 4</a>:
        &quot;Kyrgyz Relative Clauses and Dependent Case Theory&quot;.
    </div>
  </div>

  <div class="item">
    <div class="when">December 2018</div>
    <div class="details">
      The <a href="https://lsa.umich.edu/slavic/msp/all-publications/formal-approaches-to-slavic-linguistics--25--the-third-cornell-m.html
" target="_blank">proceedings paper of our FASL 25 talk</a> came out!
    </div>
  </div>

  <div class="item">
    <div class="when">October 19&ndash;21, 2018</div>
    <div class="details">
      Talk
        at <a href="http://wafl14.mit.edu/" target="_blank">WAFL 14</a>:
        &quot;On possessed relative clauses in Kyrgyz&quot;.
    </div>
  </div>

  <div class="item">
    <div class="when">Fall 2018&ndash;Spring 2019</div>
    <div class="details">
      Visiting at <a href="https://linguistics.stonybrook.edu/" target="_blank">Stony Brook University</a>.
    </div>
  </div>

  <div class="item">
    <div class="when">August 11&ndash;12, 2018</div>
    <div class="details">
      Talk
        at <a href="http://fg.phil.hhu.de/2018/index.html" target="_blank">Formal Grammar 23</a>:
        &quot;Case Theory in Minimalist Grammars&quot;.
    </div>
  </div>

  <div class="item">
    <div class="when">June 2018</div>
    <div class="detials">
      Invited talk
        at <a href="https://linguistik.philol.uni-leipzig.de/start/" target="_blank">Universit&auml;t Leipzig</a>:
        &quot;Dependent Case Licensing in Minimalist Grammars&quot;.
    </div>
  </div>

  <div class="item">
    <div class="when">May 2018</div>
    <div class="details">
      I passed my Qualifying Exams.
    </div>
  </div>
-->
  </div><!--//education-container-->
