a {
  color: #6e3852;
}
a:hover {
  color: #3c1e2c;
}
.wrapper {
  background: #A15277;
}
.sidebar-wrapper {
  background: #A15277;
}
.main-wrapper .section-title {
  color: #6e3852;
}
.main-wrapper .section-title .fa {
  background: #6e3852;
}
.skillset .level-bar-inner {
  background: #bf819e;
}
