a {
  color: #2d7788;
}
a:hover {
  color: #1a454f;
}
.wrapper {
  background: #42A8C0;
}
.sidebar-wrapper {
  background: #42A8C0;
}
.main-wrapper .section-title {
  color: #2d7788;
}
.main-wrapper .section-title .fa {
  background: #2d7788;
}
.skillset .level-bar-inner {
  background: #7bc2d3;
}
